{% extends 'shop/base.html' %}

{% block title %}
Uniqpab FAQ
{% endblock %}


{% block content %}

<div class="container">
   <div class="row">
     <div class="col">
      
      <h4> FAQ </h4>

      <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-block lead text-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 How do we create an account with you
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
             
             <h4>
               currently creating an account is not inplemented thank you for asking
             </h4>
                <div>
            </div>
          </div>
      
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-block  collapsed lead text-info" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 how do we receive my product
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
              <h4>
  
                  you can receive your product either at home or you can personally walk to our office for 
                your product and our team will be willing to assist you
            
              </h4>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-block text-info collapsed lead text-info" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 How would i know if my purchase went succcesful
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
              
                <h4>
                    with this there are two options <br>
                1.  upon pressing of the submit button at where you input your info
                an email will be sent automatically to the email you provided <br>
                2.  ourcustomer representative will contact you emediatly your submission enters our records (database) 
             
                </h4>
              </div>
            </div>
          </div>
      
      
          <!-- MY OWN -->
          <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block  lead text-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How can i reach you in case of assistance
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                <h4>
                    you can reach us by  clicking on this
                  <a href="tel:+233240699506">contact</a> <br>
                  or through  <a href="https://wa.me/+233240699506">whatsapp</a><br>
                  <h6 text-light> send us an email: uniquepab@gmail.com</h6>

      
                </h4>
      
                </div>
              </div>
            </div>
      
            <!--  -->
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0"> 
                    <button class="btn btn-block  lead text-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     Do you guys receive online payment or mobile money
                    </button>
                  </h2>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                  <h4>
                      No we don't currently we hope to introduce those in the future <br>
                    we do receive mobile  money through this MTN <i>number</i> <small> <u>0240699506</u> </small>
                 
                  </h4>
  
                  </div>
                </div>
              </div>
              <!--  -->
        </div>
      
      

     </div>
   </div>
    
</div>

  
{% endblock  %}