{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
{% if category %}uniqpab|home{{ category.name }} {% else %} uniqpab {% endif %}
{% endblock %}

{% block content %}


<div class="container-fluid">

    <form method="GET" action="">

  <input class="mx-4 mb-5 allign-center px-3" type="text" name="keyword" id="" placeholder="search" value="{{ request.GET.keyword }}">
  <button type="submit">search</button>


  <div class="row" style="margin-top: 6%">

    <div class="col-sm-8 blog-main">


      <div class="blog-post">
        <div class="row">


{% if allproduct %}
<!-- <h5>{{ allproduct|length }}</5> -->
    {% else %}
    <h4 class="text-danger"> sorry no result mach your search</h4>
{% endif %}

            {% for product in allproduct %}
  

            <div class="col-md-4">
              <div class="thumbnail">

                <a href="{{ product.get_absolute_url }}">
                  <img
                    src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                    alt="..." style="height: 130px; width: auto">
                </a>
                <div class="caption">
                  <h3 class="text-center">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                  </h3>
                  
                  <p class="text-center text-danger">GH₵:{{ product.price }}</p>
                </div>
              </div>
            </div>
           

            {% endfor %}
           
        </div>


      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->
<!-- side bar -->
    <!-- <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyled">
          <li {% if not category %} class="active" {% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
          {% for c in categories %}

          <li {% if category.slug == c.slug %} class="active" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>/.blog-sidebar -->
<!-- end of side bar -->
  </div><!-- /.row -->

</div><!-- /.container -->
</form>


{% endblock %}